// .section1 {
//     margin: 0 auto;
//     @include d-flex(flex, space-around, wrap);
//     margin-top: 200px;
//     align-items: center;
//     .texts {
//         @extend %size;
//         h1 {
//             font-size: 50px;
//             margin-bottom: 25px;
//             font-family: $font01;
//             color: $colorred;
//             &::after {
//                 content: '';
//                 width: 310px;
//                 height: 3px;
//                 display: flex;
//                 background-color: $colorblue;
//                 margin-top: 11px;
//             }
//             &:hover {
//                 color: white;
//             }
//         }
//         p {
//             font-size: 40px;
//             font-family: $font02;
//             color: $colorblack;
//             @extend %size;
//              &:hover {
//                 color: white;
//             }
//         }
       
//     }
//     .image {
//         max-width: 500px;
//         height: 450px;
//         img {
//             max-width: 500px;
//             height: 450px;
//         }
//     }
// }
// .section2 {
//     margin-top: 210px;
//     padding-bottom: 300px;
//     @include d-flex(flex, space-evenly, wrap);
//     .block {
//         @extend %size1;
//         text-align: center;
//         background-color: $colorlavend;
//         border-radius: 40px;
//         height: 450px;
//         margin-bottom: 50px;
//         img {
//             width: 200px;
//             padding-top: 70px;
//         }
//         h3 {
//             font-family: $font01;
//             font-size: 25px;
//             margin-bottom: 15px;
//             color: $colorred;
//         }
//         p {
//             font-family: $font02;
//             font-size: 18px;
//             color: $colorblack;
//             padding-left: 15px;
//             padding-right: 15px;
//         }
//     }

// }
.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
            padding-top: 35px;
            padding-bottom: 35px;
    .logo {
        display: flex;
        align-items: center;
        .furniture {
            font-size: 40px;
            font-family: $font03;
            color: #424345;
            padding-left: 100px;
            width: 210px;
        }
    // .logo1 {
    //     padding-left: 80px;
    //     width: 210px;
    // }
    }
    .burger {
        display: none;
        padding-right: 40px;
        padding-top: 6px;
        color: #919293;
        font-size: 30px;
    }
    .nav-ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-right: 96px;
        .nav-li {
            margin-left: 58px;
            font-size: 25px;
            color: #303134;
            font-family: 'Raleway', sans-serif;
            text-transform: uppercase;
        }
    }
}
.background {
    background-image: url('../images/banner3.jpg');
    width: 100%;
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .titles {
        padding-left: 110px;
        max-width: 1000px;
        width: 100%;
    }
    .title1 {
        font-size: 80px;
        margin-bottom: 20px;
        font-family: $font03;
        color: #424345;
        max-width: 1000px;
        width: 100%;
    }
    .title2 {
        font-size: 35px;
        font-family: $font03;
        color: #626664;
        margin-left: 10px;
    }
    .butt {
        border-radius: 8px;
        width: 150px;
        height: 65px;
        background-color: #dfb0a3;
        transition-duration: 0.4s;
        margin-top: 29px;
        margin-left: 10px;
        border: 0;
        color: white;
        font-size: 20px;
        font-weight: bold;
        &:hover {
            background-color: #c6adb1; 
            color: white;
        }
    }
}
.aboutus {
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    padding-bottom: 100px;
    padding-top: 100px;
    .about1 {
        font-size: 40px;
        font-family: 'Josefin Sans', sans-serif;
        margin-bottom: 20px;
        color: #626664;
    }
    .about2 {
        font-size: 25px;
        font-family: 'Josefin Sans', sans-serif;
        color: #909395;
    }
}
