// @media (max-width: 1185px) {
//     .section1 {
//          text-align: center;
//         .image {
//             margin-top: 50px;
//         }
//         h1 {
//             &::after {
//                 content: '';
//                 width: 310px;
//                 height: 3px;
//                 display: flex;
//                 background-color: $colorblue;
//                 margin-top: 11px;
//                 margin: 0 auto;
//             }
//             &:hover {
//                 color: white;
//             }
//         }
//     }
// }
@media (max-width: 1185px) {
    .header {
    .burger {
        display: block;
    }
    .nav-ul {
        display: none;
    }
    .logo{
        .furniture {
        font-size: 25px;
    }
}
}
    .titles {
        .title1 {
            font-size: 50px;
        }
        .title2 {
            font-size: 25px;
        }
    }
    .background {
        padding-right: 40px;
        .butt {
            width: 100px;
            font-size: 12px;
            height: 55px;
        }
    }
    .aboutus {
        .about1 {
            font-size: 30px;
        }
        .about2 {
            padding-right: 15px;
            padding-left: 15px;
            font-size: 17px;
        }
    }
}
