@media (max-width: 1185px) {
    .header {
    .burger {
        display: block;
    }
    .nav-ul {
        display: none;
    }
    .logo{
        .furniture {
        font-size: 20px;
        padding-left: 50px;
    }
}
}
    .background {
        .titles {
            padding-left: 60px;
            .title1 {
                font-size: 50px;
                padding-right: 5px;
            }
            .title2 {
                font-size: 25px;
                margin-right:60px;
            }
        }
        .butt {
            width: 100px;
            font-size: 12px;
            height: 55px;
        }
    }
    .aboutus {
        .about1 {
            font-size: 25px;
        }
        .about2 {
            padding-right: 15px;
            padding-left: 15px;
            font-size: 17px;
        }
    }
}
